#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -80px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
}

#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}

/* The about link: 20px from the top with a green background */
#page1 {
  top: 20px;
  background-color: #4CAF50;
}

#page2 {
  top: 80px;
  background-color: #2196F3; /* Blue */
}

#page3 {
  top: 140px;
  background-color: #f44336; /* Red */
}

#page4 {
  top: 200px;
  background-color: #a39300; /* Yellow */
}

#page5 {
  top: 260px;
  background-color: #ff00ff; /* Pink */
}

#bodytext {
  position: absolute;
  left: 150px;
  padding: 15px;
  border: 2px;
  border-style: double;
  border-color: #383838;
  border-radius: 10px 10px 10px 10px;
}

#draggable {
  position: absolute;
  padding: 15px;
  background-color: #fa7d00;
  border-radius: 10px 10px 10px 10px;
}

#draggableheader {
  padding: 10px;
  text-align: center;
  cursor: move;
  background-color: #2196F3;
  color: #4a4a4a;
  border-radius: 8px 8px 0px 0px;
}
