header, main, footer {
  align: center;
}

header, footer {
  font-size: 500%;
  font-weight: bold;
  text-align: center;
}

main img {
  width: 300px;
}

body {
  margin: 1in;
  background-color: beige;
}

p {
  float: right;
  background-color: lime-green;
  color: brown;
}

.money {
  color: red;
}
