/**{
  border: 1px solid gray;
}*/

header, main, footer {
  align: center;
  background-color: BurlyWood;
  margin: 1in;
  margin-top: 0em;
  margin-bottom: 0em;
}

header, footer {
  line-height: 150%;
  font-size: 300%;
  font-weight: bold;
  font-family: "Arbutus", "Goudy Old Style", "Copperplate Gothic Light";
  text-align: center;
}

/*body {
  margin: 1in;
  background-color: BurlyWood;
}*/

.center {
  display: block;
  align: center;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

aside {
  display: block;
  border: 1px solid black;
  font-family: sans-serif;
  float: right;
  background-color: darkolivegreen;
  width: 10%;
}

.money {
  color: red;
}
